* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align-last: center;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  font-size: 6rem;
  font-weight: 800;
  margin-bottom: 4rem;
}

.currency-row {
  input {
    padding: 0.5rem 1rem;
    font-size: 3rem;
    border: 2px solid #333;
    border-radius: 5px;
    outline: none;
  }

  select {
    padding: 0.5rem 1rem;
    font-size: 3rem;
    margin-left: 1rem;
    border: 2px solid #333;
    border-radius: 5px;
  }
}

.equal-sign {
  font-size: 6rem;
  font-weight: 700;
}
